<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
    <script src="lib/jquery.js"></script>
    <script src="lib/jquery.color.js"></script>
    <script src="lib/game.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css"/>
    <title> Minesweeper </title>
  </head>

  <body>
    <div id="container">
      <div id="title"> MINESWEEPER v1.0 7/26/2015 </div>
    </div>
    <section id="game_layout">
    </section>

  </body>
</html>
