<html>

<head>
  <title> Entry </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/entry_style.css"/>

</head>

<body>
  Hello World. Entry
  <form action="/response" method="POST">
    <input type="text" name="pluralnoun1" value="pluralnoun1"> <br/>
    <input type="text" name="adjective" value="adjective"> <br/>
    <input type="text" name="location" value="location"> <br/>
    <input type="text" name="vehicle" value="vehicle"> <br/>
    <input type="text" name="location2" value="location2"> <br/>
    <input type="text" name="worlds_first" value="worlds_first"> <br/>
    <input type="text" name="second_vehicle" value="second_vehicle"> <br/>
    <input type="text" name="location3" value="location3"> <br/>
    <input type="text" name="adjective2" value="adjective2"> <br/>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
